*{ margin: 0; padding: 0; }
li{ list-style: none; }
hmtl, body{ width: 100%; height: 100%; }

form{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2.5%;
    left: 5%;
}
form > li{ margin-bottom: 15px; }
form > textarea{
    width: 100%;
    margin-top: 25px;
    font-size: 20px;
    outline: none;
    resize: none;
    overflow-y: hidden;
}
form > input[type="submit"] {
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
}