*{ margin: 0; padding: 0; }
li{ list-style: none; }
html, body{ width: 100%; height: 100%; user-select: none; overflow-y: hidden; }

#wrap{
    width: 70%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 15%;
}

textarea{
    width: 100%;
    height: 80%;
    margin-top: 40px;
    font-size: 20px;
    outline: none;
    resize: none;
    user-select: none;
    background: white;
    border: 1px solid black;
}

#title, #writer{ line-height: 40px; }
#writer{ color: gray; }
#writer > a { color: #176cd4; text-decoration: none; }

#content{
    margin-top: 40px;
    border: none;
    font-size: 18px;
    line-height: 25px;
    color: black;
}

#more{ position: absolute; bottom: 0; left: 15%; }

#more > div:last-child > button{
    width: 55px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
}
#more > div:last-child > button > a { color: black; text-decoration: none; }

#more > div:first-child{
    display: flex;
}

.box{
    width: auto;
    height: 30px;
    display: flex;
    border: 1px solid black;
    border-radius: 12px;
    margin-right: 33px;
    margin-bottom: 20px;
    font-size: 18px;
}
.box button{
    width: 80%;
    font-size: 18px;
    padding-right: 15px;
    padding-left: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.box button:first-child{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: 1px solid black;
}
.box button:last-child{
    width: 50px;
    height: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.box a{
    color: black;
    text-decoration: none;
    display: block;
}

.profile{
    display: flex;
    margin-bottom: 50px;
}
.profile-img{
    width: 100px;
    height: 100px;
}
.profile > li{
    font-size: 18px;
    line-height: 100px;
}
.profile a{
    text-decoration: none;
    color: black;
}