*{ margin: 0; padding: 0; }
a{ text-decoration: none; color: white; }
li{ list-style: none; }

header{
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}

nav > a{ border-right: 1px solid white; }
nav:hover > a{ color: #d4d4d4; }

.nav-item{ padding: 13px; }
.nav-item:hover > a{ color: #d4d4d4; text-decoration: none; }

#button-box > button{
    border: none;
    outline: none;
    cursor: pointer;
}
#button-box > button > a{
    color: black;
    text-decoration: none;
    display: block;
}

#content{ width: 100%; height: auto; }

header > .container > section > li{
    font-size: 50px;
    color: white;
    margin-top: 10%;
    margin-left: 25%;
}

#sign-up{
    width: 350px;
    height: auto;
    background: white;
    color: black;
    border-radius: 10px;
    margin-top: -23%;
    margin-left: 60%;
}
.form-group{
    display: flex;
    flex-direction: column;
    padding: 10px 25px 0 20px;
}
.form-group:nth-of-type(1) { margin-top: 20px; }
.form-group:last-child{ margin-top: 0; }
#sign-up > button{ outline: none; }