*{ margin: 0; padding: 0;}
body{ background: #ededed; }

form{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form input{
    width: 100%;
    height: 70px;
    outline: none;
}
form > div input{
    padding-left: 45px;
    border: 1px solid lightslategray;
}

#email{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#password{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

form > div{
    display: flex;
}
form img{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 10px;
}
form > div:nth-of-type(2) img{
    margin-top: 5px;
}

input[type="submit"] {
    background: #176cd4;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 40px;
}