*{ margin: 0; padding : 0; box-sizing: border-box; }
li{ list-style: none; }
a{ text-decoration: none; color: black; }

html, body{ width: 100%; height: 100%; }

header{
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}

.carousel.slide{ height: 82% !important; }
.carousel-inner{ height: 100%; }
.carousel-item{ height: inherit; }
.carousel-inner img{ margin-top: -13%; }

nav > a{
    border-right: 1px solid white;
    padding-right: 30px;
}
nav:hover a{ color: black; }

.nav-item{ padding: 13px; }

#button-box > button{
    border: none;
    outline: none;
    cursor: pointer;
}
#button-box > button > a{
    color: black;
    text-decoration: none;
    display: block;
}

header > .container > section > li{
    font-size: 50px;
    color: white;
    margin-top: 10%;
    margin-left: 25%;
}

#sign-up{
    width: 350px;
    height: auto;
    background: white;
    color: black;
    border-radius: 10px;
    margin-top: -23%;
    margin-left: 60%;
}
.form-group{
    display: flex;
    flex-direction: column;
    padding: 10px 25px 0 20px;
}
.form-group:nth-of-type(1) { margin-top: 20px; }
.form-group:last-child{ margin-top: 0; }
#sign-up > button{ outline: none; }

#profile{
    width: 70px;
    height: 50px;
    display: flex;
}
#profile > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#profile > span{
    width: 20px;
    height: 20px;
    transform: rotateZ(90deg);
    margin-top: 30%;
    cursor: pointer
}
#profile > .dropdown { margin-top: 20%; }

#content{
    width: 100%;
    height: auto;
    display: flex;
}

#content > article{ width: 100%; height: auto; }

#follow > ul:nth-child(1) { border-bottom: 1px solid black; }
#follow > ul > li:nth-child(1) { padding: 20px; }
.list-group-item > img{ width: 30px; height: 30px; }

#follow{ width: 30%; }

#notice-board{
    width: 100%;
    height: auto;
    border: 1px solid black;
    position: relative;
}
#notice-board > .table{ margin: 0 !important; }
#notice-board > .table > thead{ background: lightgrey; }

#additional-function{
    width: auto;
    height: 50px;
    margin-top: 25px;
}
#additional-function > a{
    position: absolute;
    top: 3%;
    left: 5%;
}

#alert{
    width: 300px;
    height: 100px;
    background: white;
    border: 1px solid black;
    text-align: center;
    position: fixed;
    top: 0;
    left: 45%;
}
#alert > li{
    height: 70%;
    line-height: 70px;
    font-size: 18px;
}
#alert > button{
    width: 70px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: #4995fa;
    color: white;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 7px;
}