*{ margin: 0; padding : 0; box-sizing: border-box; }
li{ list-style: none; }
a{ text-decoration: none; color: black; }

html, body{
    width: 100%;
    height: 100%;
}

#wrap{
    width: 100%;
    height: 100%;
    display: flex;
}

#info{
    width: 15%;
    height: 100%;
    border: 1px solid black;
    background: #e0e0e0;
    position: relative;
}
#user-data{
    width: 100%;
    height: 35%;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wrap > article:nth-of-type(2) { width: 85%; height: 100%; }

#banner{ width: 100%; height: 35%; }
#banner-img{ width: 100%; height: 100%; }

#notice-board{
    width: 100%;
    height: 65%;
    border: 1px solid black;
    position: relative;
}

#additional-function{
    width: auto;
    height: 50px;
    margin-top: 25px;
}

.notice-item{
    width: 100%;
    height: 45px;
    display: flex;
    border: 1px solid black;
    text-align: center;
    line-height: 45px;
}
.notice-item > li, .content{
    width: calc(100%/9);
    border-right: 1px solid black;
    display: block;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.notice-item > .content{ width: calc(100%/2); }
.notice-item > li > a{ width: 100%; overflow: hidden; text-overflow: ellipsis; }

#pagination {
    display: flex;
    text-align: center;
    margin-top: 30px;
    position: absolute;
    left: 50%;
}
#pagination > li {
    width: 30px;
    background: #ededed;
    padding: 3px;
    border: 1px solid black;
}
#pagination > li > a{ display: block; }

.current-page{ background: #858383 !important; }
.current-page > a{ color: white; }

#alert{
    width: 300px;
    height: 100px;
    background: white;
    border: 1px solid black;
    text-align: center;
    position: absolute;
    top: 0;
    left: 45%;
}
#alert > li{
    height: 70%;
    line-height: 70px;
    font-size: 18px;
}
#alert > button{
    width: 70px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: #4995fa;
    color: white;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 7px;
}