*{ margin: 0; padding: 0; }
a{ text-decoration: none; color: black; }
li{ list-style: none; }

#wrap {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 5%;
}

#user-info{
    width: 20%;
    height: 100%;
}

#user-activity{
    display: flex;
    padding: 5px;
    box-sizing: border-box;
}
#user-activity > li{
    margin-right: 5px;
}

#user-content{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.notice-item{
    width: 100%;
    height: 45px;
    display: flex;
    border: 1px solid black;
    text-align: center;
    line-height: 45px;
}
.notice-item > li, .content{
    width: calc(100%/9);
    border-right: 1px solid black;
    display: block;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.notice-item > .content{ width: calc(100%/2); }
.notice-item > li > a{ width: 100%; overflow: hidden; text-overflow: ellipsis; }