*{ margin: 0; padding: 0; }
a{ text-decoration: none; color: black; }
li{ list-style: none; }

html, body{ width: 100%; height: 100%; }

#wrap {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 15%;
}

#user-info{
    width: 100%;
    height: 30%;
    background: #ededed;
    display: flex;
    position: relative;
}

#user-data{ margin: 0; }
#user-data > img{ width: 200px; height: 200px; }

#email{ font-size: 2rem; }

#user-activity{
    display: flex;
    padding: 5px;
    box-sizing: border-box;
}
#user-activity > li{ margin-right: 5px; }

#profile-content{ text-align: center; margin: auto; }
#profile-content > li{ font-size: 30px; }
#profile-content > button{ font-size: 18px; }

#setting{
    width: 35px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#user-content{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 30px;
}

#user-content > div > ul > div:last-child { border-bottom: 1px solid black !important; }
#user-content > div > ul > div:hover{
    background: rgba(0, 0, 0, 0.1);
}

.content{ height: 30%; }
.more{ display: flex; }

.user-setting{
    width: 100%;
    height: 30%;
    display: flex;
    background: #ededed;
    position: relative;
}
.user-setting img{ width: 200px; height: 200px; }

.user-setting > textarea {
    width: 80%;
    height: 100%;
    resize: none;
    margin: auto;
    background: #ededed;
    font-size: 18px;
}
.user-setting > button{
    position: absolute;
    right: 0;
    bottom: 0;
}

.change-img{}
.change-img::before{
    content: "변경";
    width: 200px;
    height: 200px;
    color: black;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: absolute;
}